* {
  font-family: courier, monospace;
  line-height: 2em;
  padding-left: 25px;
  padding-right: 25px;
}

.Title {
  font-weight: bold;
  font-size: 200%;
  text-align: center;
}

/* Buttons */
.button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #357935;
}
