.NavBar {
  float: left;
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  border: none;
  padding: 1px;
}

.NavBar li {
  display: inline;
  text-decoration: none;
}

.NavBar :visited {
  color: #fff;
}
