.NavBar {
  float: left;
  padding: 8px;
  background-color: #dddddd;
}

.NavBar li {
  display: inline;
  padding: 8px;
}

.Recipe {
  width: 600px;
  margin: auto;
  margin-top: 10%;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  gap: 2rem;
  display: grid;
  .Link {
    padding: 10px;
    text-align: center;
  }
}

.Recipe ul {
  list-style-type: none;
  padding: 10px;
}

.Description {
  padding: 10px;
  text-align: center;
}

.Category {
  color: green;
  padding: 10px;
}

a {
  outline: none;
}

a:link {
  color: #a5c300;
}

a:visited {
  color: #3f4a01;
}

a:focus {
  text-decoration: none;
  background: #bae498;
}

a:hover {
  text-decoration: none;
  background: #cdfeaa;
}

a:active {
  background: #6900ff;
  color: #cdfeaa;
}
