.Recipe {
  width: 700px;
  margin: auto;
  margin-top: 10%;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color:bisque;
  border: 4px solid hsl(0, 0%, 90%);
  gap: 2rem;
  display: grid;
 
  .Link {
    padding: 10px;
    text-align: center;
  }
}

.Recipe ul {
  list-style-type: none;
  padding: 10px;
  margin: 5px;
}

.Description {
  padding: 10px;
  text-align: center;
}

.Category {
  color: green;
  padding: 20px;
}

a {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px;
  outline:none;
  
}

a:link {
  color: #a5c300;
}

a:visited {
  color: #3f4a01;
}

a:focus {
  text-decoration: none;
  background: #bae498;
}

a:hover {
  text-decoration: none;
  background: #cdfeaa;
}

a:active {
  background: #6900ff;
  color: #cdfeaa;
}
